

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #43C6AC;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #191654, #43C6AC);  Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(to top, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  #root {
	  height: 100vh;
	  overflow: hidden;
  }


